---
// src/pages/index.astro

import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
---

<!-- profile2.webp you can remove | Photo <a href="https://unsplash.com/es/@charlesdeluvio?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">charlesdeluvio</a> en <a href="https://unsplash.com/es/fotos/hombre-con-gorro-negro-kVg2DQTAK7c?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
   -->

<!-- You can replace the card's data with your own here. -->
<BaseLayout title="Personal Card Portfolio Astro" description="Meta description. Here goes your page description. Provide a clear and concise summary of the content.">
	<Card
	  name="Omar"
	  position="Computer Science and Artificial Intelligence"
	  aboutMe = `Hi there! I'm Omar, a Computer Science student with a passion for problem-solving and exploring new technologies. My natural curiosity drives me to constantly learn and improve. Proficient in Java and Python, I've worked with libraries like sklearn and matplotlib to bring innovative ideas to life.

I thrive in collaborative environments and have hands-on experience leading a team of seven to design and implement a Boulderdash game using software engineering principles. As a backend team lead, I ensured code quality, coordinated with other backend members, and supported the front-end team to deliver a polished final product. 

Whether it's building projects, learning cutting-edge tools, or tackling complex challenges, I’m always eager to expand my skills and contribute to impactful solutions.`

	  linkedin="https://www.linkedin.com/in/omar-sanad-19045b1a4"
	  github="https://github.com/Rago179"
	  cvLink="/files/omarcv.pdf"
	  profileImage="/images/Omar-PhotoForID.JPG"
	/>
</BaseLayout>
